
body {
  background-image: url('./Components/Assets/bg-light.png');
  background-size: cover;
  background-position: center;
  transition:  background-image 0.3s ; /* Smooth transition */
  color:black;
  display: flex;
  justify-content: center; 
  align-items: center;
margin-top:50px;

}
body.dark-theme {
  background-image: url('./Components/Assets/bg-dark.png');
  color:white;
}
.header{
  display:flex;
  justify-content: center;
  margin-left:0px;
  margin-top:20px;
}


.theme-toggle.light {
  background-color: #C9B0EA; /* Change the button background color */
  color: black; /* Change the button text color */
  border: none;
  padding: 12px 10px 10px 10px;
  margin: 20px 0px 0px 25px;
  cursor: pointer;
  width: 40px;
  height:40px;
  border-radius: 20px;
}

.theme-toggle.dark {
  background-color: #2A2343; /* Change the button background color */
  color: white; /* Change the button text color */
  border: none;
  padding: 12px 10px 10px 10px;
  margin: 20px 0px 0px 25px;
  cursor: pointer;
  width: 40px;
  height:40px;
  border-radius: 20px;
}

.container {
  align-items: center;
  max-width: 1080px;
  margin: 20px auto;
}



.top-bar{
  display:flex;
  align-items: center;
  gap:10px;
  background: rgba(255, 255, 255, 0);;
}
.cityInput.light{
  margin-left: 0px;
  margin-right:0px;
  display: flex;
  padding-left:15px;
  height: 40px;
  width:475px;
  border:none;
  outline: none;
  background-color: #B59FE7;
  border-radius: 16px;
  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cityInput.dark {
    margin-left: 0px;
  margin-right:0px;
  display: flex;
  padding-left:15px;
  height: 40px;
  width:475px;
  border:none;
  outline: none;
  background-color: #3C2D6E;
  border-radius: 16px;
  color: white;
}

.searchIcon.light{
display: flex;
justify-content: center;
align-items: center;
height:40px;
width: 40px;
background:#6D3FB5;
color: white;
border-radius: 14px;
cursor:pointer;
border:none;
outline: none;
box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.2);
}

.searchIcon.dark{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width: 40px;
  background:#27124D;
  color: white;
  border-radius: 14px;
  cursor:pointer;
  border:none;
  outline: none;
  }


/* .error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
} */

.info-container.light{

  margin-top:60px;
  padding: 20px 20px 20px 33px;
  background-image: linear-gradient(90deg,#C9B0EA, #ae8de2), ;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  border:0.7px solid #DEC6FB;
}
.info-container.dark{

  margin-top:60px;
  padding: 20px 20px 20px 30px;
  background-color: rgba(78,53,144, 1);
  border-radius: 40px;
  border:none;
}


.info-title.light{
  font-weight:bold;
  font-size: small;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.info-title.dark{
  font-size: small;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.8);

}

.temperature.light {
  font-size: 65px;
  font-weight:bold;
  color:#6D3FB5;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.temperature.dark {
  font-size: 65px;
  font-weight:bold;
  color:white;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.maxmin-temp.light{
  font-size: 13px;
  font-weight:bold;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.maxmin-temp.dark{
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.8);

}

.weather-icon{
  width:178px;
  height: 178px;
  float: right;
  padding-right: 20px;
  margin-top: 0px;
  padding-top: 0px;
 
}

.inline-container{
  display:flex;
  justify-content: space-between;
  padding-right: 10px;
}

.inline.light {
  display: inline-block;
  font-size: 12px;
  color: grey;
  
}
.inline.dark {
  font-size: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}


.bold {
  font-weight: bold;
}

.history-container.light{
  
  padding: 0px 15px 20px 15px;
  background-image: linear-gradient(90deg,#C9B0EA, #ae8de2), ;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border:1px solid #DEC6FB;

}
.history-container.dark{
  
  padding: 5px 15px 20px 15px;
  background-color: rgba(60,46,108, 0.8);
  border-radius: 20px;

}
.history-title{
  font-size:small;
  justify-content: center;
  margin: 20px 0px 10px 10px;

}
.no-records{
  text-align: center;
 color:grey;

}
.search-history-list{
  margin-top: 0px;
  padding-top: 0px;
  list-style-type: none;
  padding: 0px;

}

.history-item.light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: small;
  background-color: #E8D9F6;
  width:auto;
  margin: 10px;
  margin-bottom: 0px;

  padding: 10px;
  border-radius: 10px;
}

.history-item.dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: small;
  background-color: #2A2343;
  width:auto;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 10px;
}
.history-buttons.light{
  margin: 0px 2px 0px 3px;
  padding: 8px 5px 5px 5px;
  width:30px;
  height:30px;
  border-radius: 50%;
  border:none;
  background-color: white;
  cursor:pointer;
}

.history-buttons.dark{
  margin: 0px 2px 0px 3px;
  padding: 8px 5px 5px 5px;
  width:30px;
  height:30px;
  border-radius: 50%;
  border:0.7px solid grey;
  color:grey;
  background-color: rgba(42,35,67, 0.8);
  cursor:pointer;
}

.left-content {
  display: flex;
  /* flex-direction: column;
  justify-content: flex-start; */
  align-items: center;
  /* margin-right: 100px; Add margin to separate from right content */
}

.right-content {
  color: grey;
  display: flex;
  gap: 5px;
  align-items: center;
}
