
.top-bar{
    display:flex;
    align-items: center;
    gap:14px;
}
.top-bar input{
    display: flex;
    padding-left:15px;
    height: 35px;
    width:450px;
    border:none;
    outline: none;
    background-color: #B8A2EA;
    border-radius: 15px;

}
.searchIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35px;
  width: 35px;
  color:white;
  background: #6D3FB5;
  border-radius: 12px;
  cursor:pointer;
  border:none;
  outline: none;

}

